# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ IDEA / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ephemeral/

# Android build artifacts
android/app/debug/
android/app/profile/
android/app/release/

# iOS build artifacts
ios/Runner/Assets.xcassets/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json

# Coverage
coverage/

# Symbols
*.pbd
*.symbols
